.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.card {
  transition-duration: 1s;
  transition-timing-function: ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  width: 500px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: white;
  border-radius: 0px 0px;
  padding: 5px;
  margin: 0 5px;
}
.card h1 {
  font-size: 70px;
  margin: 0;
}
.card hr {
  width: 90%;
}
.card h3 {
  font-size: 30px;
}

.card:not([main-card]) {
  opacity: 0.5;
}

.card-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.card-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}