@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;700&display=swap');

$primary: dodgerBlue;
$secondary: #131313;
$secondary-dark: #111;

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Poppins", arial;
    height: 100%;
    background: $secondary;
    color: white;
}

.vertical-line {
    display: inline-block;
    background: white;
    width: 3px;
    height: 40%;
    margin: 0;
    border-radius: 25px;
}

.vertical-line-small {
    display: inline-block;
    background: grey;
    width: 3px;
    height: 25%;
    margin: 0;
    border-radius: 25px;
}